html {
	box-sizing: border-box;
	font-size: 10px;
	color: #361a29;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

button {
	font-size: 2.5rem;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	padding: 1rem;
}

ul,
li {
	list-style: none;
	padding: 0;
	/* margin: 0; */
}
