.formBox {
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

.formBox div.personalDiv,
.formBox div.powersDiv,
.formBox div.experienceDiv,
.formBox div.essayDiv {
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	position: relative;
	margin: 1rem 0;
}

.formBox div.powersDiv,
.formBox div.experienceDiv {
	padding: 2rem;
}

.formBox div.personalDiv > p,
.formBox div.powersDiv > p,
.formBox div.experienceDiv > p,
.formBox div.essayDiv > p {
	margin: 0;
	padding: 5px;
	width: fit-content;
	font-size: 2.1rem;
	background: white;
	position: absolute;
	top: -17px;
	left: 10px;
}

h2 {
	font-size: 2rem;
	text-transform: capitalize;
}

.formBox div.personalDiv .rowsDiv,
.formBox div.experienceDiv .rowsDiv {
	display: flex;
	margin: 3rem 2rem;
}

.formBox div.experienceDiv .rowsDiv {
	margin: 1.5rem 2rem;
}

.formBox div.personalDiv .rowsDiv div {
	width: 100%;
	display: flex;
	align-items: center;
}
.formBox div.personalDiv .rowsDiv div p {
	font-size: 2rem;
	margin: 0 1rem 0 0;
}

label {
	font-size: 2rem;
	margin: 0 1rem 0 0;
}

input {
	flex-grow: 2;
	margin: 0 2rem 0 0;
	font-size: 2rem;
	/* padding-left: 8px; */
	/* background-color: rgb(59, 59, 59); */
	/* border: 1px solid white; */
	/* outline: none; */
}

select {
	font-size: 2rem;
}

button {
	font-size: 25px;
	/* align-self: center; */
	/* width: 200px; */
	border-radius: 10px;
	cursor: pointer;
}

.error {
	color: red;
}

.errorBox {
	border: 2px solid red;
}

.thankYou {
	width: 1000px;
	height: 800px;
	margin: auto;
	background-color: rgb(59, 59, 59);
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	margin-top: 50px;
}
