.formBox {
	max-width: 1200px;
	margin: 5rem auto;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

#avengersApplication h1 {
	font-size: 3rem;
	text-align: center;
	color: black;
}

.formBox div.personalDiv,
.formBox div.powersDiv,
.formBox div.experienceDiv,
.formBox div.essayDiv {
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #626eda;
	position: relative;
	margin: 1rem 0;
}

.formBox div.powersDiv,
.formBox div.experienceDiv,
.formBox div.submitDiv,
.formBox div.essayDiv {
	padding: 2rem;
}

.formBox div.powersDiv ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.formBox div.powersDiv ul li {
	margin: 0 0 0 3rem;
}

.formBox div.powersDiv ul li input {
	flex-grow: 0;
}

.formBox div.personalDiv > p,
.formBox div.powersDiv > p,
.formBox div.experienceDiv > p,
.formBox div.essayDiv > p {
	margin: 0;
	padding: 5px;
	width: fit-content;
	font-size: 2.1rem;
	background: white;
	position: absolute;
	top: -17px;
	left: 10px;
}

.formBox div.essayDiv > label {
	margin: 0 0 1rem 0;
}

h2 {
	font-size: 2rem;
	text-transform: capitalize;
}

.formBox div.personalDiv .rowsDiv,
.formBox div.experienceDiv .rowsDiv {
	display: flex;
	margin: 3rem 2rem;
	align-items: center;
}

.formBox div.experienceDiv .rowsDiv {
	margin: 1.5rem 2rem;
}

.formBox div.personalDiv .rowsDiv div {
	width: 100%;
	display: flex;
	align-items: center;
}

.formBox div.personalDiv .rowsDiv div p {
	font-size: 2rem;
	margin: 0 1rem 0 0;
}

.formBox div.personalDiv .rowsDiv div input#contactPhone,
.formBox div.personalDiv .rowsDiv div input#contactEmail,
.formBox div.personalDiv .rowsDiv div input#contactAddress {
	margin: 0 0.5rem;
	flex-grow: 0;
}

label {
	font-size: 2rem;
	margin: 0 1rem 0 0;
}

input,
textarea,
select {
	flex-grow: 2;
	margin: 0 2rem 0 0;
	font-size: 2rem;
	padding: 0.5rem;
	outline-color: #626eda;
	color: #626eda;
}

input[type="text"] {
	color: #626eda;
}

.formBox div.experienceDiv .rowsDiv select {
	flex-grow: 0;
}

.error {
	color: red;
}

.errorBox,
.formBox div.experienceDiv.errorBox {
	border: 2px solid red;
}

.formBox div.submitDiv button {
	background: #626eda;
	color: white;
}
